{% extends "police_station/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/searchfeedback1">
  <table class="pull-left">
    <tr>
      <th>From</th>
      <td>
      <input type="date" name="textfield" id="textfield" class="form-control" required /></td>
      <th>To</th>
      <td>
      <input type="date" name="textfield2" id="textfield2" class="form-control" required /></td>
      <td><input type="submit" name="button" id="button" value="Go" class="btn btn-success" /></td>
    </tr>
  </table>
<br>
<br>
  <table class="table table-bordered">
    <tr>
      <th>Sno</th>
      <th>Date</th>
      <th>User Info</th>
      <th>Feedback</th>
    </tr>
      {% for i in data %}
    <tr>
      <td width="50px">&nbsp;{{ forloop.counter }}</td>
      <td width="125px">&nbsp;{{ i.date }}</td>
      <td>&nbsp;{{ i.USER.name }}</td>
      <td>&nbsp;{{ i.feedback }}</td>
    </tr>
      {% endfor %}
  </table>
</form>

{% endblock %}