{% extends "admin/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th>Sno</th>
      <th>Name</th>
      <th>Gender</th>
      <th>DOB</th>

      <th>NativePLace</th>
      <th>Current Place</th>
            <th>Adar Card</th>
      <th>FingerPrint</th>
      <th>Identification Mark</th>

      <th>Photo</th>


      <th></th>
      {% comment %} <th></th> {% endcomment %}

    </tr>
      {% for i in data %}
    <tr>
      <td width="50px">{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.labourname }}</td>
      <td>&nbsp;{{ i.gender }}</td>
      <td>&nbsp;{{ i.dob }}</td>

        <td>{{ i.native_place }} <br>&nbsp;{{ i.native_city }}<br>&nbsp;{{ i.native_state }} <br>{{ i.native_pin }}</td>
      <td>&nbsp;{{ i.current_place }} <br>&nbsp;{{ i.current_district }}</td>
      <td>{{ i.adarcard }}</td>
      <td><img src="{{ i.fingerprint }}" width="100px" height="100px" /></td>
      <td> {{ i.identification_mark1 }}&nbsp;<br>{{ i.identification_mark2 }}</td>
      <td>&nbsp;<img src="{{ i.photo }}" width="100px" height="100px" /></td>


      <td><a href="/myapp/aaprovelabor/{{ i.id }}" class="btn btn-success">Approve</a> </td>
      {% comment %} <td><a href="/myapp/rejectlabor/{{ i.id }}"class="btn btn-danger">Reject</a> </td> {% endcomment %}
    </tr>
      {% endfor %}
  </table>
</form>

{% endblock %}