{% extends "admin/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/change_pswrdpost">
  <table class="table table-bordered">
    <tr>
      <th width="200px">Current password</th>
      <td>
      <input type="password" name="textfield" id="textfield" class="form-control" required /></td>
    </tr>
    <tr>
      <th>New password</th>
      <td>
      <input type="password" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Confirm password</th>
      <td>
      <input type="password" name="textfield3" id="textfield3" class="form-control" required/></td>
    </tr>
    <tr>
        <td></td>
      <td><input type="submit" name="button" id="button" value="Save" class="btn btn-success" /></td>
    </tr>
  </table>
</form>

{% endblock %}