
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Safe Kerala Admin</title>
    <!--/google-fonts-->
    <link href="//fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet">
    <!--//google-fonts-->
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/admn/assets/css/style-starter.css">

</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark stroke">
                <h1><a class="navbar-brand" href="index.html">
                        Safe<span class="sub-log">K</span>erala
                    </a></h1>
                <!-- if logo is image enable this   
      <a class="navbar-brand" href="#index.html">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <nav class="mr-auto ml-lg-5">
                        <div class="search-bar">

                        </div>
                    </nav>
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item dropdown mr-3 show active">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Police
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/myapp/addpolice#abc">Add Police</a>
								<a class="dropdown-item" href="/myapp/viewpolice#abc">View Police</a>
							</div>
						</li>


                        <li class="nav-item dropdown mr-3 show active">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Notifications
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/myapp/addnotification#abc">Add Notification</a>
								<a class="dropdown-item" href="/myapp/viewnotification#abc">View Notification</a>
							</div>
						</li>



                           <li class="nav-item dropdown mr-3 show active">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Labours
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/myapp/viewlabour1#abc">Labours</a>
								<a class="dropdown-item" href="/myapp/viewlabour#abc">Approved Labours</a>
							</div>
						</li>



                         <li class="nav-item active">
                            <a class="nav-link" href="/myapp/viewcriminallist#abc">Criminals <span class="sr-only"></span></a>
                        </li>
{#                        <li class="nav-item active">#}
{#                            <a class="nav-link" href="viewlabour1#abc">Labours <span class="sr-only"></span></a>#}
{##}
{#                            <a class="nav-link" href="viewlabour#abc">Approved Labours <span class="sr-only"></span></a>#}
{#                        </li>#}
<li class="nav-item active">
                            <a class="nav-link" href="/myapp/viewcomplaint#abc">Complaints <span class="sr-only"></span></a>
                        </li>
<li class="nav-item active">
                            {% comment %} <a class="nav-link" href="/myapp/viewfeedback">Feedback <span class="sr-only"></span></a> {% endcomment %}
                        </li>
<li class="nav-item active">
                            <a class="nav-link" href="/myapp/">Logout <span class="sr-only"></span></a>
                        </li>



{#                        <li class="nav-item dropdown mr-3 show">#}
{#							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">#}
{#								Action <br>#}
{#                                Plan#}
{#							</a>#}
{#							<div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#								<a class="dropdown-item" href="/addactionplan">Add Action Plan</a>#}
{#								<a class="dropdown-item" href="/viewactionplan">View Action Plan</a>#}
{#							</div>#}
{#						</li>#}

{#                            <li class="nav-item dropdown mr-3 show">#}
{#							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">#}
{#								 Job<br>#}
{#                                Wage#}
{#							</a>#}
{#							<div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#								<a class="dropdown-item" href="/addjobwage">Add Job Wage</a>#}
{#								<a class="dropdown-item" href="/viewjobwage">View Job Wage</a>#}
{#							</div>#}
{#						</li>#}

{#                          <li class="nav-item dropdown mr-3 show">#}
{#							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">#}
{#								 DLW<br>#}
{#                                OFFICER#}
{#							</a>#}
{#							<div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#								<a class="dropdown-item" href="/adddlwoff">Add DLWOfficer</a>#}
{#								<a class="dropdown-item" href="/viewdlwoff">View DLWOfficer</a>#}
{#							</div>#}
{#						</li>#}


{#                         <li class="nav-item dropdown mr-3 show">#}
{#							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">#}
{#								Laws#}
{#							</a>#}
{#							<div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#								<a class="dropdown-item" href="/addlaws">Add Laws</a>#}
{#								<a class="dropdown-item" href="/viewlaws">View Laws</a>#}
{#							</div>#}
{#						</li>#}




{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="/viewcriminallist">CriminalList</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="/viewlabour">Labours</a>#}
{#                        </li>#}
                       


{#                         <li class="nav-item dropdown mr-3 show">#}
{#							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">#}
{#								Others#}
{#							</a>#}
{#							<div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                                <a class="dropdown-item" href="home">Home <span class="sr-only">(current)</span></a>#}
{#                                <a class="dropdown-item" href="/viewlabour">Labours</a>#}
{#                                <a class="dropdown-item" href="/viewcriminallist">CriminalList</a>#}
{#								<a class="dropdown-item" href="/viewfeedback">Feedback</a>#}
{#								<a class="dropdown-item" href="/viewcomplaint">Complaint</a>#}
{#                                <a class="dropdown-item" href="/viewcomplaintflabor">Labor Complaint</a>#}
{#								<a class="dropdown-item" href="/changepassword">Change Password</a>#}
{#                                <a class="dropdown-item" href="/viewchildlreport">Child Labor Reports</a>#}
{#                                <a class="nav-link" href="/">Logout</a>#}
{##}
{#							</div>#}
{#						</li>#}


{#                         <li class="nav-item">#}
{#                            <a class="nav-link" href="/">Logout</a>#}
{#                        </li>#}
                    </ul>
                </div>
                <!-- toggle switch for light and dark theme -->

{#                <div class="mobile-position">#}
{#                    <nav class="navigation">#}
{#                        <div class="theme-switch-wrapper">#}
{#                            <label class="theme-switch" for="checkbox">#}
{#                                <input type="checkbox" id="checkbox">#}
{#                                <div class="mode-container py-1">#}
{#                                    <i class="gg-sun"></i>#}
{#                                    <i class="gg-moon"></i>#}
{#                                </div>#}
{#                            </label>#}
{#                        </div>#}
{#                    </nav>#}
{#                </div>#}
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--/header-->
    <!-- main-slider -->
    <section class="w3l-main-slider" id="home">
        <div class="companies20-content">
            <div class="owl-one owl-carousel owl-theme">
                <div class="item">
                    <li>
                        <div class="slider-info banner-view bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>No human masterpiece has been created without great labour</h5>
                                        <p class="mt-4 pr-lg-4"></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info  banner-view banner-top1 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>The miracle is not that we do this work, but that we are happy to do it.</h5>
                                        <p class="mt-4 pr-lg-4"></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top2 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>Nothing ever comes to one that is worth having except as a result of hard work</h5>
                                        <p class="mt-4 pr-lg-4"> </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>

            </div>
            <div class="w3l-banner-grids">
                <div class="bangrids-inn">
                    <div class="banhny-grid-1">
                        <div class="banhny-grid-icon">
                            <span class="fa fa-laptop"></span>
                        </div>
                        <div class="banhny-grid-right-info">
                            <h6><a href="#url">Nothing will work unless you do. - Maya Angelou</a></h6>
                            <p>Focus is having the unwavering attention.</p>
                        </div>
                    </div>
                    <div class="banhny-grid-1">
                        <div class="banhny-grid-icon">

                            <span class="fa fa-users"></span>

                        </div>
                        <div class="banhny-grid-right-info">
                            <h6><a href="#url">All Labour that benefits humanity has dignity</a></h6>
                            <p>New skills online the best way is to develop and follow.</p>
                        </div>
                    </div>
                    <div class="banhny-grid-1">
                        <div class="banhny-grid-icon">
                            <span class="fa fa-book"></span>
                        </div>
                        <div class="banhny-grid-right-info">
                            <h6><a href="#url">Genius begins excellent works.</a></h6>
                            <p>Labour alone finishes them</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /main-slider -->
    <!-- //banner section -->
    <!-- /content-1-->
{#    <div class="content-1 py-5 overflow-scroll">#}
{#        <div class="container py-md-5" id="abc">#}
{##}
{#{% block body %}#}
{##}
{##}
{#            {% endblock %}#}
{##}
{##}
{##}
{#        </div>#}
{#    </div>#}
{#    #}



    <div class="container  py-5" id="abc">
{% block body %}
                    {% endblock %}


    </div>
    <!-- //content-1-->
    <!--/courses-->





    <!-- footer -->
    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5">
            <div class="container py-lg-4">
                <div class="row footer-top-29">
                    <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-1 pr-lg-5">
                        <div class="footer-logo mb-3">
                            <a class="navbar-brand" href="index.html">SafeKerala</a>
{#                        </div>#}
{#                        <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at#}
{#                            tempufddfel. Lorem ipsum dolor sit amet Semper at elit.</p>#}
{#                        <div class="main-social-footer-29 mt-4">#}
{#                            <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>#}
{#                            <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>#}
{#                            <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>#}
{#                            <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>#}
{#                        </div>#}
                    </div>
{#                    <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-sm-0 mt-5">#}
{##}
{#                        <ul>#}
{#                            <h6 class="footer-title-29">Usefull Links</h6>#}
{#                            <li><a href="about.html">About Us</a></li>#}
{#                            <li><a href="services.html">Courses</a></li>#}
{#                            <li><a href="#pricing"> Pricing plans</a></li>#}
{#                            <li><a href="#careers"> Careers</a></li>#}
{#                            <li><a href="blog.html"> Blog posts</a></li>#}
{#                            <li><a href="contact.html">Contact us</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 mt-lg-0 mt-5">#}
{#                        <h6 class="footer-title-29">More Info</h6>#}
{#                        <ul>#}
{#                            <li><a href="#profile">Profile</a></li>#}
{#                            <li><a href="#vision">Vision & Values</a></li>#}
{#                            <li><a href="#history">History</a></li>#}
{#                            <li><a href="#leader">Leadership</a></li>#}
{#                            <li><a href="#help">Help</a></li>#}
{#                            <li><a href="#support"> Support</a></li>#}
{#                        </ul>#}
{##}
{#                    </div>#}
{#                    <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">#}
{#                        <h6 class="footer-title-29">Contact Info </h6>#}
{#                        <p><strong>Address :</strong> DigitalEdu, 343 Honey Avenue street, NY - 62617.</p>#}
{#                        <p class="my-2"><strong>Phone :</strong> <a href="tel:+12 23456799">+12 23456799</a></p>#}
{#                        <p><strong>Email :</strong> <a href="mailto:info@example.com">info@example.com</a></p>#}
{#                    </div>#}
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- //footer -->

    <!-- copyright -->
{#    <section class="w3l-copyright">#}
{#        <div class="container">#}
{#            <div class="row bottom-copies">#}
{#                <p class="col-lg-8 copy-footer-29">© 2020 DigitalEdu. All rights reserved. Design by <a#}
{#                        href="https://w3layouts.com/" target="_blank">#}
{#                        W3Layouts</a></p>#}
{##}
{#                <div class="col-lg-4 footer-list-29">#}
{#                    <ul class="d-flex text-lg-right justify-content-center mt-lg-0 mt-3">#}
{#                        <li><a href="#careers"> Careers</a></li>#}
{#                        <li class="mx-lg-5 mx-md-4 mx-3"><a href="#privacymy-lg-0 my-4">Privacy Policy</a></li>#}
{#                        <li><a href="contact.html">Contact us</a></li>#}
{#                    </ul>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            &#10548;
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
    </section>
    <!-- //copyright -->

    <script src="/static/admn/assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->

    <script src="/static/admn/assets/js/theme-change.js"></script><!-- theme switch js (light and dark)-->

    <script src="/static/admn/assets/js/owl.carousel.js"></script>
    <!-- script for banner slider-->
    <script>
        $(document).ready(function () {
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    </script>
    <!-- //script -->
    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->
    <!-- /counter-->
    <script src="/static/admn/assets/js/counter.js"></script>
    <!-- //counter-->
    <!-- script for tesimonials carousel slider -->
    <script>
        $(document).ready(function () {
            $("#owl-demo1").owlCarousel({
                loop: true,
                margin: 20,
                nav: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items:2,
                        nav: false,
                        loop:true
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials carousel slider -->

    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!--bootstrap-->
    <script src="/static/admn/assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap-->

</body>

</html>